.small-post-details {
    margin: -4em 0 0 0;
    width: 270px;
}
.small-post-main {
    margin: -10em 0 5em 52.5em;
    justify-content: left;
}
.small-tag {
    width: 140px;
    margin: 0 0 0 6em;
}
.small-post-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin: 0 0 0 3.5em;
}
.small-number {
    display: flex;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.48px;
    color: #F0F0F0;
    /* opacity: 1; */
    font-weight: 600;
    margin: -1.4em 0 0 5em;
}
.small-hr {
    margin: -1.7em 4.5em 1em 0;
    /* background: #F0F0F0 0% 0% no-repeat padding-box; */
    color: rgb(175, 173, 173);
    border-top: 1px solid rgb(175, 173, 173);
    opacity: 1;
}
.small-post-image {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-image: url(./../components/Masthead/images/evie-s-Sw7f58YJbc0-unsplash.jpg);
    background-size: 60px 60px;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 2px;
    opacity: 1;
}
.small-main {
    padding:0 0 4em 0 ;
}